version: '3'

networks:
    nginx-php-mysql-node:
services:
    # nginx
    nginx-service:
        image: nginx:stable-alpine
        ports:
            - "8080:80"
        volumes:
            - ./app:/var/www/project
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/defaul.conf
        depends_on:
            - php74-service
            - mysql8-service
        networks:
            - nginx-php-mysql-node

    # php
    php74-service:
        build:
            context: .
            dockerfile: ./docker/php/Dockerfile
        ports:
            - "9000:9000"
        volumes:
            - ./app:/var/www/project
        networks:
            - nginx-php-mysql-node

    # mysql
    mysql8-service:
        image: mysql:8
        ports:
            - "4306:3306"
        volumes:
            - ./docker/mysql:/var/lib/mysql
        command: --default-authentication-plugin=mysql_native_password --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
        restart: always
        environment:
            MYSQL_USER: root
            MYSQL_PASSWORD: password
            MYSQL_ROOT_PASSWORD: password
        networks: 
            - nginx-php-mysql-node

    # nodejs
    node-service:
        image: node:latest
        networks: 
            - nginx-php-mysql-node
        working_dir: /var/www/project
        volumes:
            - ./app:/var/www/project
      